@model Wolny.P.Web.Models.PuntoUnoModel

@{
    ViewData["Title"] = "PedidosSinRecorrido";
}

<h1>PedidosSinRecorrido</h1>
<p>
    Seleccionar con el checkbox los pedidos, la ciudad de origen del recorrido y
    el algoritmo (fuerza bruta u otros más que son heurísticos)
</p>
<p>
    Presionar "Crear recorrido" y se obtiene la información del recorrido resultante y cuanto tiempo
    demoró el algoritmo
</p>

@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <p class="alert-danger" >@ViewBag.Error</p>
}

<form asp-action="SubmitSelectedPedidos" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    PedidoId
                </th>
                <th>
                    Entregado
                </th>
                <th>
                    Ciudad
                </th>
                <th>
                    Seleccionar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pedidos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entregado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ciudad.Nombre)
                    </td>
                    <td>
                        <input type="checkbox" name="selectedPedidos" value="@item.Id;@item.Ciudad.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <label for="selectedCiudad">Seleccioná ciudad de origen:</label>
        <select id="selectedCiudad" name="selectedCiudad">
            @foreach (var ciudad in Model.Ciudades)
            {
                <option value="@ciudad.Id">@ciudad.Nombre</option>
            }
        </select>
    </div>
    @*     public enum AlgoritmoEnum
    {
    FuerzaBruta,
    VecinosMasCercanos,
    Voraz,
    RecocidoSimulado,
    ColoniaHormigas
    } *@

    <div>
        <label for="selectedAlgo">Seleccioná algoritmo:</label>
        <select id="selectedAlgo" name="selectedAlgo">
            <option value="0">Fuerza bruta</option>
            <option value="1">Vecinos más cercanos</option>
            <option value="2">Voraz</option>
            <option value="3">Recocido simulado</option>
            <option value="4">Colonia de hormigas</option>
        </select>
    </div>

    <button type="submit">Crear recorrido</button>
</form>
