@model IEnumerable<Wolny.P.Web.Models.RecorridoModel>

@{
    ViewData["Title"] = "PuntoDos";
}

<h1>PuntoDos</h1>

<p>
    Se retornan los últimos 10 recorridos realizados por un camión con patente "@ViewBag.Patente"
    especificada, ordenados por fecha de inicio desde el más actual hacia los primeros.
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finalizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id) e info del recorrido
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finalizado)
                </td>
                <td>
                    <a href="Details/@item.Id">Id @Html.DisplayFor(modelItem => item.Id) | Ver detalle | Punto 6</a>
                </td>
            </tr>
        }
    </tbody>
</table>
