@model Wolny.P.Web.Models.PuntoCuatroModel

@{
    ViewData["Title"] = "PuntoCuatro";
}

<h1>Punto cuatro y siete</h1>

<p>
    Se retornan en cuadrados rojos los camiones que están en viaje y dónde se encuentran con su correspondiente patente
</p>
<p>
    Adicionalmente en verde se posicionan las ciudades cargadas
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Disponible
            </th>
            <th>
                Patente
            </th>
            <th>
                Id
            </th>
            <th>
                Ubicación
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Camiones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    Latitud: @Html.DisplayFor(modelItem => item.Ubicacion.Latitud) - Longitud : @Html.DisplayFor(modelItem => item.Ubicacion.Longitud)
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="map" style="height: 400px;"></div>
<script>
    var camiones = @Html.Raw(Json.Serialize(Model.Camiones)); // Serialize C# Model to JavaScript object
    var ciudades = @Html.Raw(Json.Serialize(Model.Ciudades)); // Serialize C# Model to JavaScript object
    const svgPath = "M 0 0 L 22 0 L 22 22 L 0 22 Z";

    function initMap() {
        // Create a map centered on the first truck's location
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: camiones[0].ubicacion.latitud, lng: camiones[0].ubicacion.longitud },
            zoom: 6
        });

        // Loop through each truck and create a marker for it
        camiones.forEach(function (camion) {
            var marker = new google.maps.Marker({
                position: { lat: camion.ubicacion.latitud, lng: camion.ubicacion.longitud },
                map: map,
                label: { text: camion.patente, fontWeight: 'bold' }, // Custom label with Patente
                icon: {
                    path: svgPath /* google.maps.SymbolPath.CIRCLE */,
                    fillColor: 'red',
                    fillOpacity: 0.2,
                    strokeWeight: 1,
                    scale: 1 // Adjust the size of the marker icon
                }
            });
        });

        // Loop through each ciudad and create a marker for it
        ciudades.forEach(function (ciudad) {
            var marker = new google.maps.Marker({
                position: { lat: ciudad.ubicacion.latitud, lng: ciudad.ubicacion.longitud },
                map: map,
                label: { text: ciudad.nombre, fontWeight: 'bold' }, // Custom label with Patente
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    fillColor: 'green',
                    fillOpacity: 0.2,
                    strokeWeight: 1,
                    scale: 10 // Adjust the size of the marker icon
                }
            });
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWK-JfF3vdznCMNBNkY_D3wLQQiGPo9kE&callback=initMap">
</script>
