@model IEnumerable<Wolny.P.Web.Models.RecorridoModel>

@{
    ViewData["Title"] = "Recorridos";
}

<h1>Recorridos</h1>

<p>
    Listado de todos los recorridos
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id recorrido
            </th>
            <th>
                Camión
            </th>
            <th>
                Fecha de inicio
            </th>
            <th>
                Fecha fin
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finalizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.Camion == null)
                    {
                        item.Camion = new CamionModel { Patente = "Sin camión" };
                    }
                    @item.Camion.Patente
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finalizado)
                </td>
                <td>
                    @Html.ActionLink("Punto 5", "Details", new { id = item.Id })
                    @if (item.Camion.Patente == "Sin camión")
                    {
                        @Html.ActionLink("Asignarle camión", "AsignarleCamion", new { id = item.Id })
                    }
                    @if (item.Camion.Patente != "Sin camión" && !item.Finalizado)
                    {
                        @Html.ActionLink("Actualizar planes", "ActualizarPlanes", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
