@model IEnumerable<Wolny.P.Web.Models.RecorridoModel>

@{
    ViewData["Title"] = "Recorridos";
}

<h1>Recorridos</h1>

<p>
    Listado de todos los recorridos
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Fecha de inicio
            </th>
            <th>
                Fecha fin
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finalizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finalizado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Punto 5", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
